.container{
    background-color: rgb(234, 234, 234);
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1),
    -10px -10px 10px white;
    height: 200px;
    width: 300px;
    padding: 30px;
    margin: 0 20px;
    transition: transform .2s;
}

.container:hover{
    transform: scale(1.15);
    cursor: pointer;
}

.mensagem{
    padding-top: 40px;
    display: flex;
    font-style: italic;
    text-align: center;
    font-size: 20px;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
}

.icon{
    margin: 0 0 0 10px;
}